<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="vehicleInsurance">
      <h2 data-cy="vehicleInsuranceDetailsHeading">
        <span jhiTranslate="connexApp.vehicleInsurance.detail.title">Insurance Premium Quotation</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Reference ID</span></dt>
        <dd>
          <span>Q{{ randNumber }}{{ vehicleInsurance.id }}</span>
        </dd>
        <dt><span>Product of Factors</span></dt>
        <dd>
          <span>{{ factor }}</span>
        </dd>
        <dt><span>Base Premium Rate</span></dt>
        <dd>
          <span>{{ basePremium | currency : 'CAD' }}</span>
        </dd>
        <dt><span>Yearly Premium Rate</span></dt>
        <dd>
          <span>{{ basePremium * factor | currency : 'CAD' }}</span>
        </dd>
        <dt><span>Monthly Premium Rate</span></dt>
        <dd>
          <span>{{ (basePremium * factor) / 12 | currency : 'CAD' }}</span>
        </dd>
      </dl>

      <h2 data-cy="vehicleInsuranceDetailsHeading">
        <span jhiTranslate="connexApp.vehicleInsurance.detail.title">Vehicle Insurance Details</span>
      </h2>

      <hr />

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ vehicleInsurance.id }}</span>
        </dd>
        <dt><span jhiTranslate="connexApp.vehicleInsurance.name">Name</span></dt>
        <dd>
          <span>{{ vehicleInsurance.name }}</span>
        </dd>
        <dt><span jhiTranslate="connexApp.vehicleInsurance.age">Age</span></dt>
        <dd>
          <span>{{ vehicleInsurance.age }}</span>
        </dd>
        <dt><span jhiTranslate="connexApp.vehicleInsurance.driving_experience">Driving Experience</span></dt>
        <dd>
          <span>{{ vehicleInsurance.driving_experience }}</span>
        </dd>
        <dt><span jhiTranslate="connexApp.vehicleInsurance.driver_record">Driver Record</span></dt>
        <dd>
          <span>{{ vehicleInsurance.driver_record }}</span>
        </dd>
        <dt><span jhiTranslate="connexApp.vehicleInsurance.claims">Claims</span></dt>
        <dd>
          <span>{{ vehicleInsurance.claims }}</span>
        </dd>
        <dt><span jhiTranslate="connexApp.vehicleInsurance.car_value">Car Value</span></dt>
        <dd>
          <span>{{ vehicleInsurance.car_value | currency : 'CAD' }}</span>
        </dd>
        <dt><span jhiTranslate="connexApp.vehicleInsurance.annual_mileage">Annual Mileage</span></dt>
        <dd>
          <span>{{ vehicleInsurance.annual_mileage }}</span>
        </dd>
        <dt><span jhiTranslate="connexApp.vehicleInsurance.insurance_history">Insurance History</span></dt>
        <dd>
          <span>{{ vehicleInsurance.insurance_history }}</span>
        </dd>
      </dl>

      <hr />

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/vehicle-insurance', vehicleInsurance.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
